# Dependencies
node_modules/

#next feature
next-feature-plan

# Build outputs
dist/
build/
*.app
*.exe
*.dmg
*.deb

# Logs
*.log
npm-debug.log*
yarn-debug.log*
logs/

# Environment variables
.env
.env.local
.env.*.local

# Database
server/prisma/pos.db
server/prisma/pos.db-journal
server/prisma/pos.db.bak
*.db
*.db-journal

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp

# Documentation
Documents/

# WhatsApp Session & cache
server/whatsapp-session/
server/whatsapp-session-test/
server/.wwebjs_cache/
